<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
    <title>Proffy</title>
</head>
<body id="page-landing">
    <div id="container">
        <section class="up">
            <div class="logo">
                <img src="/images/Proffylogo.svg" alt="Logo Proffy">
                <p>Sua plataforma de estudos online</p>
            </div>
        
            <div class="image">
                <img src="/images/landing.svg" alt="Plataforma de estudos">
            </div>
        </section>
    
        <section class="down">
            <div class="buttons">
                <a class="study" href="/study">
                    <img src="/images/icons/study.svg" alt="">Estudar
                </a>
                <a class="give-classes" href="/give-classes">
                    <img src="/images/icons/give-classes.svg" alt="">Dar aulas
                </a>
            </div>
            <p class="total-conections">Total de 200 conexões já relizadas 
                <img src="/images/icons/purple-heart.svg" alt="">
            </p>
        </section>

    </div>

</body>
</html>